.container {
  padding-top: 100px;
  width: 500px;
}

form button {
  width: 100%;
}

.incompleteTasks {
  height: 30px;
}

.completed {
  color: #999;
  text-decoration: line-through;
}

input, button { border-radius: 0 !important; }
