doctype html
html(ng-app='Todo')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/styles.css')
  body(ng-controller='TodoController')
    .container
      .row
        .col-xs-12
          div.incompleteTasks
            span(ng-show='incompleteTasks()')
              | Incomplete tasks {{incompleteTasks()}}
        .col-xs-12
          div
            form(ng-submit='addTask(task)')
              .form-group
                input.form-control(ng-model='task.name', placeholder='task')
              .form-group
                button.btn(type='submit') add
      .row
        .col-xs-12
          table.table.table-hover
            tr(ng-click='clearCompleted()')
              th.text-left task
              th.text-right added
            tr(ng-repeat='task in tasks' ng-click='taskComplete(task)')
              td.text-left(ng-class='{completed: task.done}') {{task.name}}
              td.text-right
                span(ng-hide='task.done') {{task.added}}
                a(href='#', ng-show='task.done', ng-click='taskClear(task)') clear

    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/moment/min/moment.min.js')
    script(src='js/controllers.js')
